.progress-bar-container {
    width: 100%;
}

.current {
    position: relative;
    width:100%;
    bottom: -7px;
}

.current .value {
    background-color: #c0e3e7;
    padding: 5px;
    border-left: 5px solid #c0e3e7;
}

.vertical-line {
    background-color: #c0e3e7;
    width: 5px;
    height: 15px;
}

#progress {
    width: 100%;
    border: 2px solid #c0e3e7;
}

.name {
    align-items: center;
    position: absolute;
    display: flex;
    justify-content: center;
    color: #004e57;
    font-weight: bold;
    letter-spacing: 1px;
}

progress::-webkit-progress-bar {
    background-color: #eeeeee;
}

progress::-webkit-progress-value {
    background-color: #c0e3e7 !important;
}

/* For Firefox */
progress {
    background-color: #eee;
}

progress::-moz-progress-bar {
    background-color: #c0e3e7 !important;
}

/* For IE10 */
progress {
    background-color: #eee;
}

progress {
    background-color: #c0e3e7;
}