<div class="d-flex justify-center w-100">

    <div class="about-me-container shadows">
        <div class="about-me-inner">
            <div class="left-side">
                <img class="experience" src="assets/2years.png" alt="">
            </div>
            <div class="right-side">
                <div class="about-me-content">
                    <div class="para bold">
                        Hello !
                    </div>
                    <div class="para">
                        I am a web developer focused on crafting great web experiences. Designing and Coding have been
                        my
                        passion since the days I started working with computers.I enjoy creating beautifully designed,
                        intuitive
                        and functional websites, softwares, live wallpapers.
                    </div>
                    <div class="para">
                        Besides this, I also have passion for gaming and mobile photography.
                    </div>
                </div>
                <div class="signature-and-buttons">
                    <div class="signature">
                        <img class="sign" src="assets/Signature-1.png" alt="Signature">
                    </div>
                    <div class="buttons-container">
                        <button class="shadows margin-right-20">Hire Me</button>
                        <button class="shadows">Download CV</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>