<div class="d-flex justify-center w-100">

    <div class="about-me-container mini-shadow">
        <div class="about-me-inner">
            <div class="left-side">
                <img class="experience" [src]="'assets/'+info.experienceImage" alt="">
            </div>
            <div class="right-side">
                <div class="about-me-content">
                    <div class="para" [innerHTML]="info.aboutText"></div>
                </div>
                <div class="signature-and-buttons">
                    <div class="signature">
                        <img class="sign" src="assets/Signature-1.png" alt="Signature">
                    </div>
                    <div class="buttons-container">
                        <!-- <button class="shadows margin-right-20">Hire Me</button> -->
                        <button class="shadows">Download CV</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>