.about-me-container {
    min-height: 350px;
    max-height: max-content;
    padding: 20px;
    background-color: #d0f6ffc9;
    display: flex;
    align-items: center;
}

.standing-man {
    right: 0;
    width: 100%;
    aspect-ratio: 2/3.7;
}

.content {
    width: 100%;
    margin-top: 30px;
    font-size: 1em;
    line-height: 1.5em;
}

.hello {
    font-size: 1.3em;
    font-weight: 700;
    margin-bottom: 20px;
}

.double-break {
    margin-bottom: 15px;
}