.navbar {
    position: fixed;
    z-index: 10;
    top: 0;
    /* width: 50px; */
    /* height: 100vh; */
    width: 100vh;
    height: 50px;
    background-color: #e6e6e6;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    transform: rotate(-90deg) translateY(25px) translateX(calc(-100vh + 25px));
    transform-origin: left;
}

.element-container {
    width: 60%;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}

.element {
    /* transform: rotate(-90deg) translateY(-12px); */
    /* width: 70px; */
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: #025761;
    font-weight: bold;
    cursor: pointer;
}

.hover-in {
    animation: hover-in 300ms ease-in-out forwards;
}

.hover-out {
    animation: hover-out 300ms ease-in-out forwards;
}

@keyframes hover-in {
    from {
        transform: rotate(0deg) translateX(0px);
    }
    to {
        transform: rotate(90deg) translateX(20px);
    }
}

@keyframes hover-out {
    from {
        transform: rotate(90deg) translateX(20px);
    }
    to {
        transform: rotate(0deg) translateX(0px);
    }
}