.experience-container {
    background-color: #ffbdd687;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.experience {
    width: 100%;
    aspect-ratio: 1;
}

.image-container {
    width: 50%;
    min-width: 300px;
    display: flex;
    justify-content: center;
}

.content-container {
    width: 50%;

}

.title {
    display: flex;
    justify-content: flex-end;
}