<div class="experience-container container">
    <div class="image-container">
        <img class="experience"
            src="https://raw.githubusercontent.com/phoenixSaket/saket-verma/master/src/assets/Experience.png"
            alt="Experience">
    </div>
    <div class="content-container">
        <div class="title">Experience</div>
        <div class="company-info">
            <div class="comp" *ngFor="let exp of experience; let i = index;">
                <!-- {{exp | json}} -->
                <div class="number">{{i+1}}</div>
                <div class="company-details">
                    <div class="line"></div>
                    <div class="company">{{exp.company}}</div>
                    <div class="role">{{exp.role}}</div>
                    <div class="period">
                        <div class="start">{{getMonth(exp.period.start.month)}}, {{(exp.period.start.year).toString().substring(0, 2)}}</div>
                        &nbsp;-&nbsp;
                        <div class="end">{{getMonth(exp.period.end.month)}}{{exp.period.end.year != 0 ? ", " +
                            exp.period.end.year.toString().substring(0, 2) : ""}}</div>
                    </div>
                    <div class="duration" [innerHTML]="getDuration(exp.period.start, exp.period.end)"></div>
                </div>
            </div>
        </div>
    </div>
</div>