.info-container {
    max-width: 1440px;
    width: 100%;
    display: flex;
    z-index: 1;
}

.left-info , .right-info {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-inner-container {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.left-inner-container #name {
    font-size: 60px;
    letter-spacing: 5px;
}

.left-inner-container #position {
    font-size: 25px;
    letter-spacing: 7px;
}

#explore {
    position: relative;
    width:50%;
    bottom: 10px;
    color: #757575;
    text-decoration: underline;
    cursor: pointer;
}

.avatar {
    max-width: calc(100% - 40px);
    border-radius: 50%;
    background-color: #E6E6E6;
}