<!-- <div class="info-container shadows margin-20">
    <div class="image-container">
        <img class="avatar" src="assets/saket.png" alt="avatar">
    </div>
    <div class="details-container">
        <div id="name">Saket Verma</div>
        <div id="social-links-container">
            <div class="social-account" *ngFor="let social of socialLinks">
                <i [class]="'icon ' + 'fab fa-'+ social[0].trim()" (click)="openLink(social[1])"></i>
            </div>
        </div>
        <div id="mails-container">
            <div id="phone">
                <i class="fas fa-phone-square-alt"></i>
                <a href="tel:+918668692038">+91-8668692038</a>
            </div>
            <div *ngFor="let mail of mails" class="mail">
                <i class="fas fa-envelope"></i>
                <a [href]="'mailto:'+mail">{{mail}}</a>
            </div>
        </div>
    </div>
</div> -->

<div class="info-container margin-20">
    <div class="left-info">
        <div class="left-inner-container">
            <div id="name">Saket Verma</div>
            <div id="position">Developer</div>
        </div>
        <div id="explore">
            Explore More >
        </div>
    </div>
    <div class="right-info">
        <img class="avatar shadows" src="assets/saket.png" alt="avatar">
    </div>
</div>