.timeline-container {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    position: relative;
    top: 20px;
    display: flex;
    justify-content: space-between;
}

.company {
    position: relative;
    top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-color: #ccc;
}

.year {
    position: relative;
    top: 3px;
    display: flex;
    justify-content: center;
    font-size: 10px;
}

.year-end {
    position: relative;
    top: 3px;
    display: flex;
    justify-content: center;
    font-size: 10px;
}


.timeline-main {
    position: relative;
    width: 100%;
    display: flex;
    bottom: 20px;
    justify-content: space-between;
}

.timeline {
    width: 100%;
    height: 7px;
}

.color-1 {
    background-color: #368c7a;
}

.color-2 {
    background-color: #EC93B3;
}

.color-3 {
    background-color: #7B8AC1;
}

.text-color-1 {
    color: #368c7a;
}

.text-color-2 {
    color: #EC93B3;
}

.text-color-3 {
    color: #7B8AC1;
}
