.timeline-container {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    /* margin-top: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    position: relative;
    top: 20px; 
    display: flex;
    justify-content: space-between;
}

.company {
    position: relative;
    top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-color: #ccc;
}

.year {
    position: relative;
    top: 3px;
    display: flex;
    justify-content: center;
    font-size: 10px; 
}

.year-end {
    position: relative;
    top: 3px;
    display: flex;
    justify-content: center;
    font-size: 10px; 
}


.timeline-main {
    position: relative;
    width: 100%;
    display: flex;
    bottom: 20px;
    justify-content: space-between;
}

.timeline {
    width: 100%;
    height: 7px;
}
