* {
    font-family: 'Cabin', sans-serif;
    padding: 0;
    margin : 0;
}

.shadows, .shadow {
    box-shadow: 0px 0px 10px grey;
}

.margin-20 {
    margin: 20px;
}

body {
    background-image: url('https://phoenixsaket.github.io/saket-verma/assets/main-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

a, a:visited, a:active, a:focus { 
    color: unset;
    text-decoration: none;
}